<title>Express + EJS</title>
<% include ../partials/header %>

<div id="content">
  <h1 id="rank">RANK #<%= restraunt.rank %></h1>
  <div id="title">
    <h2 class="title"><%= restraunt.title %></h2>
    <img class="title" src='/images/<%= restraunt.image %>' alt="restraunt-image" width="200px" height="150px;">
  </div>
  <div id="info">
    <p class='info'>Location: <%= restraunt.location %></p>
    <p class='info'>The Restraunts Webpage:<a href='<%= restraunt.page %>'><%= restraunt.title%></a></p>
  </div>
  <div id=funfacts>
    <h2>Fun Facts</h2>
    <% Object.keys(restraunt.funfacts).forEach(function (id) { %>
      <p><%= restraunt.funfacts[id] %></p>
    <% }) %>
  </div>
</div>
